<table class="table table-striped">

<thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User</th>
      <th scope="col">Phone</th>
      <th scope="col">Datestamp</th>
      <th scope="col">Barber</th>
    </tr>
</thead>

<% @res.each do |row| %>

  <tbody>
    <tr>
      <th scope="row"><%= row['id'] %></th>
      <td><%= row['username'] %></td>
      <td><%= row['phone'] %></td>
      <td><%= row['datestamp'] %></td>
      <td><%= row['barber'] %></td>
    </tr>

  </tbody>

<% end %>

</table>